@import '../../styles/mixins.scss';
.HomePage {
  @media screen and (min-width: $break-medium) {
    margin-left: 15%;
    margin-right: 15%;
    margin-top:10%;   
  }
  &_Content {
    &_Display{
      height: 30px;
      width: 100%;
      padding-bottom:60px; 
      &_People {
        font-size:25px;
        color: #363945; 
        float: left;
        width: 10%;
      }
      &_Upload{
        height: inherit;
        width:90%;
        float: right;
        &_Wrapper {
          width: 90%;
          float:right;
          &_Span{
            padding-left: 34%;
            padding-top: 10px;
            position: absolute;
            &_Content {
              width: 200px;
              height: 30px;
              font-size: 15px;
              color: #a7a9ac;
              font-weight: bold; 
            }
          }
          &_Form {
            float: right;
            width: 430px;
            cursor: pointer;
            &_Text {
              width: 315px;
              height: 30px;
              left:left;
              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
              font-size: 13px;
              border-color:#e6e7e8;
              border-style: double;
              color: #a7a9ac;
              
            }
            &_Button {
              width: 110px;
              height: 35px;
              float: right;
              font-size: 15px;
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
              background-color: #54bbff;
              color: #ffffff;
              border-color: #54bbff;
              border-style: double;
              cursor: pointer;
              &:hover {
              background-color: #54bbee;
              color: #ffffff;
              }
            }
            &_File {
              opacity: 0;
              width: 0;
              height: 0;
              padding: 0;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}